body {

    height: 100vh;
    margin: 0;
    overflow: scroll;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    
}

.head {
    background-color: #1F2937;
    padding: 0 300px 128px 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    
}

img {
    width: 600px;
    height: 250px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

.container1 {
    display: flex;
    padding: 52px 0 0 0;
    justify-content: space-between;
    gap: 128px;
}

.container_hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    height: auto;
    align-items: flex-start;
    
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0 0 16px 0;
}

.desc {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 16px 0;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 16px;
    color: #E5E7EB;
}


